*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



body {
    background-color: black;
    color: #5bc0de;
    display: flex;
    flex-direction: column;
}

header{
    padding-top: 20px;
}

.timer {
    color: #d9534f;
}

main {
    padding-top: 50px;
}

/* Used Only for id="welcome" to vertically pad content */
.good-luck {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Media Queries */

/* Mobile */
@media (max-width: 480px) {
    main {
        padding-top: 0;
    }
}
